# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# Variables
project.auto.tfvars
zip_repo.sh

# Python cache
__pycache__/
*.pyc

# Jetski
.jetskicli/

# Terraform CLI config
.terraform.d/

# Metadata
metadata/
